html {
    font-family: 'Roboto', sans-serif;
}
#spinner {
    height: 40px;
    position: relative;
    top: 7px;
}
.header {
    font-size: 40px;
}
.hidden {
    display: none;
}
.error {
    color: #970002;
}